sudo: required 
language: node_js
node_js:
    - "stable"
    
services: 
    - docker
before_install: 
    - docker build -t Githubzoe/sample-docker-react -f Dockerfile.dev .
script:     
    - docker run -e CI=true Githubzoe/sample-docker-react npm run test -- --coverage --watchAll=false